.course-card {
    margin: 10px;
  }
  
  .cheader {
    background-color: #5450cc;
    padding: 10px;
  }
  
  .body {
    padding: 10px;
  }
  
  .custom {
    width: 100%;
  }
  
  ion-button {
    margin-top: 10px;
  }