<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <!-- Загальні поля -->
  <ion-card class="course-card">
    <ion-card-header class="cheader">
      <ion-card-title>Додати продукт</ion-card-title>
    </ion-card-header>
    <ion-card-content class="body">
      <ion-item>
        <ion-input
          label="Назва"
          formControlName="name"
          labelPlacement="floating"
          class="custom">
        </ion-input>
        <ion-text color="danger" *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
          Назва має містити лише літери та бути довжиною від 2 символів
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-input
          label="Вартість"
          formControlName="price"
          type="number"
          labelPlacement="floating"
          class="custom">
        </ion-input>
        <ion-text color="danger" *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched">
          Ціна обов'язкова
        </ion-text>
        <ion-text color="danger" *ngIf="productForm.get('price')?.hasError('min') && productForm.get('price')?.touched">
          Ціна має бути більше 0.01
        </ion-text>
        <ion-text color="danger" *ngIf="productForm.get('price')?.hasError('maxPrice') && productForm.get('price')?.touched">
          Ціна не може перевищувати 1000
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-input
          label="Країна"
          formControlName="country"
          type="string"
          labelPlacement="floating"
          class="custom">
        </ion-input>
        <ion-text color="danger" *ngIf="productForm.get('country')?.hasError('required') && productForm.get('country')?.touched">
          Країна обов'язкова
        </ion-text>
        <ion-text color="danger" *ngIf="productForm.get('country')?.hasError('invalidCountry') && productForm.get('country')?.touched">
          Некоректна країна
        </ion-text>
      </ion-item>

      <ion-segment (ionChange)="onTypeChange($event.detail.value)">
        <ion-segment-button value="Shovel" content-id="Shovel">
          <ion-label>Лопата</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Lawnmower" content-id="Lawnmower">
          <ion-label>Газонокосарка</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Seed" content-id="Seed">
          <ion-label>Насіння</ion-label>
        </ion-segment-button>
        <ion-segment-button value="IrrigationSystem" content-id="IrrigationSystem">
          <ion-label>Поливальна система</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-segment-view>
        <ion-segment-content id="Shovel">
          <ion-item>
            <ion-input
              *ngIf="currentType === types[0]"
              label="Матеріал"
              formControlName="material"
              labelPlacement="floating"
              class="custom">
            </ion-input>
            <ion-text color="danger" *ngIf="productForm.get('material')?.hasError('required') && productForm.get('material')?.touched">
              Матеріал обов'язковий
            </ion-text>
            <ion-text color="danger" *ngIf="productForm.get('material')?.hasError('invalidMaterial') && productForm.get('material')?.touched">
              Некоректний матеріал
            </ion-text>
          </ion-item>
        </ion-segment-content>

        <ion-segment-content id="Lawnmower">
          <ion-item>
            <ion-input
              *ngIf="currentType === types[1]"
              label="Ширина зрізу (см)"
              timestep="1"
              formControlName="cuttingWidth"
              type="number"
              labelPlacement="floating"
              class="custom">
            </ion-input>
            <ion-text color="danger" *ngIf="productForm.get('cuttingWidth')?.invalid && productForm.get('cuttingWidth')?.touched">
              Ширина зрізу має бути додатнім цілим числом
            </ion-text>
          </ion-item>
        </ion-segment-content>

        <ion-segment-content id="Seed">
          <ion-item>
            <ion-input
              *ngIf="currentType === types[2]"
              label="Тип рослини"
              formControlName="plantType"
              labelPlacement="floating"
              class="custom">
            </ion-input>
            <ion-text color="danger" *ngIf="productForm.get('plantType')?.invalid && productForm.get('plantType')?.touched">
              Тип рослини має містити лише літери та бути довжиною від 3 символів
            </ion-text>
          </ion-item>
        </ion-segment-content>

        <ion-segment-content id="IrrigationSystem">
          <ion-item>
            <ion-input
              *ngIf="currentType === types[3]"
              label="Площа покриття (м²)"
              timestep="1"
              formControlName="coverageArea"
              type="number"
              labelPlacement="floating"
              class="custom">
            </ion-input>
            <ion-text color="danger" *ngIf="productForm.get('coverageArea')?.invalid && productForm.get('coverageArea')?.touched">
              Площа покриття має бути додатнім цілим числом
            </ion-text>
          </ion-item>
        </ion-segment-content>
      </ion-segment-view>
    </ion-card-content>
  </ion-card>

  <ion-button
    type="submit"
    (click)="onSubmit()"
    [disabled]="productForm.invalid">
    Submit
  </ion-button>

</form>